<header>
    <nav style="font-size: 2em; height: 50px; margin: 20px 50px; padding-top: 10px; text-align: center; border: 2px solid black;">
        <a href="/">Home</a> |
        <a href="/noticias">Noticias</a> |
        <a href="/formulario_inclusao_noticia">Inclusão</a>
    </nav>
</header>